*{
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
  margin: 0;
  padding: 0;
}
body{
  width: 100%;
  background-color: #1d1a05;
}
ul{
  padding-left: 10%;
  background-color: #ca3c25;
}
li{
  display: inline-block;
  padding: 20px 10px;
  list-style: none;
}
a{
  color: whitesmoke;
  padding: 10px;
}
a:hover{
  color: green;
}
.img-panda{
  left: 12%;
  border: solid 6px grey;
  margin: 2%;
  width: 15%;
  height: 200px;
  display: inline-block;
  position: relative;
}
img{
  width: 100%;
  height: 100%;
}
.close{
  color: #90EE90;
  font-size: 35px;
  position: absolute;
  left: 3%;
  top: -5%;
  cursor: pointer;
}
.close:hover{
  color: red;
}
.menu{
  margin: 3% 10% 3% 11.5%;
}
.menu-central{
  background-color: #ca3c25;
  display: inline-block;
  width: 33%;
  color: white;
  text-align: center;
  height: 30px;
  padding-top: .5%;
  cursor: pointer;
}
.menu-central:hover{
  background-color: #D3D3D3;
  color: black;
  font-weight: bold;
  border: solid 1px #B22222;
}
.contenido{
  padding: 0 9% 0 10%;
}
.contenido div{
  width: 49%;
  padding: 0 2%;
  display: inline-block;
}
#contentOrigen{
  float: left;
}
#contentExtincion{
  float: right;
}
p{
  text-align: justify;
  color: white;
}

.ocultar{
  visibility: hidden;
}
